<div class="container">
    <h1 class="title text-center my-3 py-2">Librería Pepita</h1>
    <h2 class="title text-center my-3 py-2">Lista de productos</h2>
    <div class="d-flex justify-content-end p-2">
        <a href="/login" class="btn btn-danger m-1">Login</a>
        <a href="/register" class="btn btn-danger m-1">Registrarse</a>
    </div>
    <div class="row">
        {{#each products}}
        <div class="col-4 mb-4">
            <div class="card" style="width: 100%;">
                <img src="{{this.img}}" class="card-img-top" alt="FotoProducto">
                <div class="card-body">
                    <h5 class="card-title text-center">{{this.title}}</h5>
                    <p class="card-text">{{this.description}}</p>
                    <p class="card-text">Precio: ${{this.price}}</p>
                    <p class="card-text">Código: {{this.code}}</p>
                    <p class="card-text">Stock: {{this.stock}}</p>
                    <p class="card-text">Categoría: {{this.category}}</p>
                    <button type="submit" id="btnSend" class="btn btn-danger my-3 w-100">Agregar producto</button>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="col-12 text-center">
        {{#if hasPrevPage}}
        <a href="{{prevLink}}" class="btn btn-primary">Anterior</a>
        {{/if}}

        {{#if hasNextPage}}
        <a href="{{nextLink}}" class="btn btn-primary">Siguiente</a>
        {{/if}}

        <p>Página {{currentPage}} de {{totalPages}}</p>
    </div>
</div>